{% extends 'base.html' %} {% load static %} {% block meta %}
<title>NGANDUNG Main Page</title>
{% endblock meta %} {% block content %} {% include 'navbar.html' with current_page='home' %}

<div class="w-full flex flex-col items-center pt-40 space-y-4">
	<p class='text-3xl font-bold'>{{ test }}</p>
	<div class="w-1/2 flex flex-col items-center text-center">
		<p>FILE HTML INI CUMA CONTOH.</p>
		<p>File HTML ini ada nya di /main/templates/main.html, ini buat sementara menempati path "/" aja, ntar diapus di akhir</p>
	</div>

	<img src="{% static 'images/login_deco.svg' %}" alt="Main Decoration" class="object-cover w-full h-full" ></img>
</div>

{% endblock content %}
