{% extends 'base.html' %} {% load static %} {% block meta %}
<title>Ngandung Main Page</title>
{% endblock meta %} {% block content %} {% include 'navbar.html' with current_page='rating' %}

<div class="w-full flex flex-col items-center pt-40 space-y-20 px-[10%]">
	<div class='flex flex-col space-y-2 items-center text-center'>
		<p class="text-4xl font-bold">Rating dan Review Toko</p>
		<p>Cek rating dan review toko yang ada di Ngandung, biar ga salah pilih toko!</p>
	</div>

    <div class='flex flex-row space-x-4 relative'>
        <div>

        </div>
    </div>

	<div class="grid grid-cols-3 gap-6 w-full">
        <div class='flex flex-col space-y-2 w-auto bg-red-300 h-24'>

        </div>
        <div class='flex flex-col space-y-2 w-auto bg-red-300 h-24'>
            
        </div>
        <div class='flex flex-col space-y-2 w-auto bg-red-300 h-24'>
            
        </div>
    </div>
</div>

{% endblock content %}
