{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{% block meta %} {% endblock meta %}
		<script src="https://cdn.tailwindcss.com"></script>
		<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/global.css' %}" />
		<link rel="preload" href="{% static 'fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf' %}" as="style" />
		<link rel="preload" href="{% static 'fonts/PlusJakartaSans-VariableFont_wght.ttf' %}" as="style" />
	</head>
	<body>
		<div class="pt-32 relative">{% block content %} {% endblock content %}</div>
	</body>
</html>
